
/** Estilos Gerais **/

body {
    background-color: white;
    color: #1E1E26;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
}

header {
    text-align: center;
}

hr {
    width: 20%;
    border-color: rgb(250, 250, 250);
}

h3 {
    color: #121276;
    font-weight: bold;
}

h2 {
    font-weight: bold;
    font-size: 28px;
}

/** Banner inicial **/

    /** menu **/

#menu-principal, .escuro-faq {
    display: inline-block;
}

#menu-principal ul {
    list-style: none;
    text-align: center;
}

#menu-principal a {
    text-decoration: none;
    color: #121276;
}

#menu-principal li {
    display: inline-block;
    margin-right: 50px
}

.item-menu {
    margin-left: 50px;
}

#logo-upconsult-nav {
    margin-right: 80px;
}

#criar-conta {
    font-weight: bold;
}

#login {
    background-color: #E5C73F;
    padding: 7px 40px;
    border-radius: 10px;
    font-weight: bold;
}


    /** Banner Principal **/

.mensagem-inicial, .imagem-inicial {
    display: inline-block;
    width: 50%;
}

.mensagem-inicial {
    position: absolute;
    left: 350px
}

.imagem-inicial {
    margin-left: 650px;
    margin-top: 50px;
    margin-bottom: 70px;
}

.banner-inicial h1, .banner-inicial p {
    font-family: 'Montserrat', sans-serif;
    text-align: left;
}

.banner-inicial h1 {
    font-size: 70px;
}

.banner-inicial p {
    font-size: 18px;
    font-weight: 500;
    width: 50%;
    line-height: 35px;
}



.banner-inicial span {
    color: #E5C73F;
}



/** Sobre **/

#sobre {
    text-align: center;
}

#sobre h2 {
    width: 70%
}

#sobre p {
    width: 60%;
}

#imagem-sobre, #sobre-info {
    text-align: left;
    display: inline-block;
    margin-top: 50px;
    margin-bottom: 50px;
}

.info-especial-sobre, .info-especial-sobre figure, .info-especial-sobre div {
    display: inline-block;

}

.info-especial-sobre figure {
    padding-bottom: 50px;
}

.titulo-especial-sobre {
    font-weight: 600;
    font-size: 20px;
}

.info-titulo-especial-sobre {
    font-size: 12px;
}



/** Ferramentas **/

#ferramentas {
    text-align: center;
    width: 74%;
    margin: 0 auto;
    margin-bottom: 70px;
    margin-top: 100px;
}

#ferramentas h2, #ferramentas h3 {
    text-align: left;
}

.ferramentas-cards-div {
    margin-top: 70px;
    margin-bottom: 70px;
}
.ferramentas-card {
    display: inline-block;
    width: 500px;
    padding: 70px;
}



/** Planos **/

#planos {
    text-align: center;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 70px;
    margin-top: 100px;
}

.planos-card {
    text-align: left;
    display: inline-block;
    margin: 50px 50px;
    padding: 30px 50px;
    border: 1px #828286 solid;
    border-radius: 15px;
    box-shadow: 3px 4px 5px 6px #1e1e265e ;
}

.planos-card ul {
    font-size: 10px;
}

/** Depoimentos | Notícias e eventos **/


/** Banner CTA **/


/** Footer **/