
/** Estilos Gerais **/

body {
    background-color: white;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
}

header {
    text-align: center;
}

/** Banner inicial **/

    /** menu **/

#menu-principal, .escuro-faq {
    display: inline-block;
}

#menu-principal ul {
    list-style: none;
    text-align: center;
}

#menu-principal a {
    text-decoration: none;
    color: #121276;
}

#menu-principal li {
    display: inline-block;
    margin-right: 50px
}

.item-menu {
    margin-left: 50px;
}

#logo-upconsult-nav {
    margin-right: 80px;
}

#criar-conta {
    font-weight: bold;
}

#login {
    background-color: #E5C73F;
    padding: 7px 40px;
    border-radius: 10px;
    font-weight: bold;
}


    /** Banner Principal **/

.mensagem-inicial, .imagem-inicial {
    display: inline-block;
    width: 50%;
}

.mensagem-inicial {
    position: absolute;
    left: 350px
}

.imagem-inicial {
    margin-left: 650px;
    margin-top: 50px;
    margin-bottom: 70px;
}

.banner-inicial h1, .banner-inicial p {
    font-family: 'Montserrat', sans-serif;
    text-align: left;
}

.banner-inicial h1 {
    font-size: 70px;
}

.banner-inicial p {
    font-size: 18px;
    font-weight: 600;
    width: 50%;
    line-height: 35px;
}



.banner-inicial span {
    color: #E5C73F;
}



/** Sobre **/


/** Ferramentas **/



/** Planos **/


/** Depoimentos | Notícias e eventos **/


/** Banner CTA **/


/** Footer **/